h1 {
    background-color: aquamarine;

    /* This is for Google fonts */
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.container {
      padding: 10px;
      background-color: gold;
      display: flex;
      gap: 10px;
}