:root {
  --primary-color: #EEF5FF;
  --secondary-color: #9EB8D9;
  --third : #7C93C3;
  --last: #A25772;
  --txt: #272829;
}

.darkmode { 
  --primary-color: #272829;
  --secondary-color: #61677A;
  --third : #61677A;
  --last: #61677A;
  --txt: #FFF6E0;
}

a {
  text-decoration: none; 
  color: var(--txt);
}

a:visited {
  color: var(--txt);
}

a:hover , a:focus {
 color: var(--primary-color);
}

/*
a:active {

} 
*/

body {  
  text-align: center;
  background-color: var(--primary-color);
  color: var(--txt);
}

footer {
 background-color: var(--last);
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.color-link {
  color: var(--txt);

}

.container {
  display: flex;
  background-color: var(--last);
  padding: 10px;
  gap: 10px;
}

.flex_my_skill {
  background-color: var(--secondary-color);
}

.icon {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  place-content: center;
}

.intro {
  background-color: var(--third);
}

.sura-bold {
  font-family: "Sura", serif;
  font-weight: 700;
  font-style: normal;
}

.sura-regular {
  font-family: "Sura", serif;
  font-weight: 400;
  font-style: normal;
}

#id { 
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;

  height: 100px;
  width: 100px;
}


#name {
  display: flex;
  gap: 10px;
}

#me {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#post {
  height: 128px;
  width: 128px;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

#theme-switch svg {
  fill: var(--txt);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}


/* 
Light

#3AA6B9 moderate cyan
#FFD0D0 very pale pink
#FF9EAA rose bud
#F9F9E0 creamish white

-or

Dark Mode

272829 black
61677A mid grey
D8D9DA grey
FFF6E0 cream white
*/