body {
    background-image: url(/Pics/paolul.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color:  rgb(228, 227, 227 0.1);
    width: 100%;
}