body {
display: flex;
flex-direction: column;
align-items:center;
background-color: aliceblue;
}

#myH1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(41, 40, 40);
    text-shadow: 2px 2px 2px black;
}

#control button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5 ease;
}

#startBtn {
    background-color: rgb(5, 167, 5);
}
#startBtn:hover{
    background-color: rgb(7, 184, 7)
}

#stopBtn {
    background-color: rgb(167, 5, 5);
}
#sstopBtn:hover{
    background-color: rgb(184, 6, 6);
}

#resetBtn {
    background-color: rgb(5, 81, 167);
}
#resetBtn:hover{
    background-color: rgb(8, 91, 185);
}